form {
    border: 5px solid #545454;
    border-radius: 20px;
    padding: 10px;
    background-color:  #545454;
    color: blanchedalmond;
    opacity: 0.8;
}

input {
    padding: 5px 5px;
    width: 95%;
    line-height: 16px;
    margin: 10px 10px;
}

  #submit-button {
    background-color: #6594da;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  #submit-button:hover {
    background-color:rgb(187, 153, 108);
  }
  #label-going-to{
      color: blanchedalmond;
  }